.site {
  position: relative; }

.mainNav {
  position: absolute;
  width: 130px;
  left: 0;
  margin-right: 20px; }
  .mainNav a {
    display: block;
    color: #666666;
    padding: 0 10px;
    text-decoration: none; }
  .mainNav li:hover a {
    color: #333333;
    background: #eeeeee; }
  .mainNav ul {
    list-style: none; }
  .mainNav li {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #cccccc; }
  .mainNav li:last-child {
    border-bottom: none; }

.content {
  padding-left: 150px; }
